body {
  background-color: black;
}
.wrapper {
  height: 100vh;
  text-align: center;
  background-color: $peachfuzz;
}
.daddy-link {
  padding-top: 1.7em;
  margin-bottom: 1em;
  text-align: left;
  padding-left: 6em;
  a {
    font-family: $link;
    font-size: 1.3em;
    text-decoration: none;

  }
}
.h {
  margin-top: 0.7em;
  color: $aphmoo;
  font-family: $heading;
  font-size: 2.9em;
  margin-bottom: 1em;
}
.para {
  font-family: $paragraph;
  color: $redwine;
  font-size: 1.2em;
}
