//color variables//

$peachfuzz: #EFD2B3;
$redwine: #AF1B3F;
$aphmoo: #5D0060;
$babyblue: #96BBBB;
$sky: #3C9CAD;
$vine: #69B578;

//font variables//

$paragraph: 'Josefin Slab';
$heading: 'Expletus Sans';
$link: 'Tillana';
